.step1 {

    width: inherit;
    height:auto;
    opacity: 100%;
    box-shadow: 0px 3px 6px lightgrey ;
   float:right;
}

.text {
    color:white;
}

.alert {
    margin-top:500px;
}

.innercard {
    width:400px;
    height: auto;
    font-family: Comfortaa;
    background-color: linear-gradient( pink,purple);

}